---
import React from './icons/tech/React.astro';
import Tailwind from './icons/tech/Tailwind.astro';
import Astro from './icons/tech/AstroIcon.astro';
import Javascript from './icons/tech/Javascript.astro';
import CSharp from './icons/tech/CSharp.astro';

const TAGS = {
    REACT: {
        name: "React",
        class: "text-[#61dbfb] bg-[#0d1117]",
        icon: React,
    },
    TAILWINDCSS: {
        name: "TailwindCSS",
        class: "text-[#38b2ac] bg-[#0d1117]",
        icon: Tailwind,
    },
    ASTRO: {
        name: "Astro",
        class: "text-[#0d1117] bg-[#61dafb]",
        icon: Astro,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "text-[#f7df1e] bg-[#0d1117]",
        icon: Javascript,
    },
    CSHARP: {
        name: "C#",
        class: "text-[#239120] bg-[#0d1117]",
        icon: CSharp,
    }
}

const PROJECTS = [
    {
        title: "Bethany's Pie Shop",
        description: "Sitio web de una tienda de tartas y pasteles, con carrito de compras y formulario de contacto.",
        link: 'https://pieshopdemo.com/',
        github: 'https://github.com/ivansteb/',
        image: "/images/bethanypieshop.png",
        tags: [TAGS.REACT, TAGS.TAILWINDCSS, TAGS.ASTRO]
    }
]
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article>
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-2">{title}</h3>
            <p class="text-md mb-4 text-pretty">{description}</p>
            <ul>
                {
                    tags.map(({ icon: Icon, ...tag }) => (
                        <li>
                            <span class={`flex rounded-full gap-x-2 text-xs ${tag.class}`}>
                                <Icon class="size-6 inline-block mr-2" />
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <img 
                src={image} 
                alt={`Captura de pantalla del proyecto ${title}`}
                class="rounded shadow-xl shadow-white/10"
            />
        </article>
    ))
}
